.link-container {
    text-align: center;
}

.link-container a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #eaeaea;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 1%;
    margin-bottom: 2%;
}

.link-container a:hover {
    background-color: #ccc;
}

.about-content {
    font-family: 'Playfair Display', serif;
    font-size: large;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
}

.apply-p {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    line-height: 1.5;
    color: #333333;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}