.terms-of-use-container {
  color: white;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.term {
  margin-bottom: 20px;
}

.term__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.term__content {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.link {
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}
