.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
  background-color: #1C1F22;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.footerNav {
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
  margin-left: auto;
  list-style: none;
}
