.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 20px;
  background-color: #00CCCC;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 50px;
  margin-right: 5%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
  cursor: pointer;
}

nav ul li:hover {
  text-decoration: underline;
}

a {
  color: #4682B4;
  text-decoration: none;
}

a:hover {
  color: #4B0082;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 0 2%;
  }

  .logo-container img {
    height: 25px;
    margin-right: 2%;
  }

  nav ul li {
    margin: 0 2px;
  }
}
